<% action_url = action == :edit ? cat_url(cat) : cats_url %>

<form action="<%= action_url %>" method="post">

  <% if action == :edit %>
  <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="cat_name">Name</label>
  <input type="text" id= "cat_name" name="cat[name]" value = "<%= cat ? cat.name : "" %>" >
  <br>

  <div>
    <label>Gender</label>
    <label for="cat_sex_m">Male</label>
    <input type="radio" id= "cat_sex_m" name="cat[sex]" value="M" <%= cat.sex == "M" ? "checked" : "" %>>
    <label for="cat_sex_f">Female</label>
    <input type="radio" id= "cat_sex_f" name="cat[sex]" value="F" <%= cat.sex == "F" ? "checked" : "" %>>
    <br>
  </div>


  <label for="cat_color">Color</label>
  <select name="cat[color]">
    <option disabled <%= cat.color.nil? ? "selected" : "" %>>--Please Select--</option>
    <% Cat::COLORS.each do |color| %>
      <option value="<%= color %>" <%= cat.color == color ? "selected" : "" %>><%= color.capitalize %></option>
    <% end %>
  </select>
  <br>

  <label for="cat_birth_date">Birthdate</label>
  <input type="date" id= "cat_birth_date" name="cat[birth_date]" value="<%= cat.birth_date.nil? ? "" : Date.parse(cat.birth_date) %>">
  <p>

  <label for="cat_description">Describe Your Furry Friend</label><br>
  <textarea id= "cat_description" name="cat[description]"><%= cat.description.nil? ? "" : cat.description %></textarea>
  <br>



  <input type="submit" value="<%= cat.name.nil? ? "Add yo cat!" : "Update yo cat!" %>">
</form>
